/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: black;
	}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	line-height: 1.3;
	font-family: Georgia, serif;
	font-size: 62.5%;
	color: black;
	height: 100%;
	}
ol, ul {
	list-style: none;
	}
blockquote, q {
	quotes: none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}

/*----------------RESET COMPLETE... ...CHANGEABLE STYLES HERE*-----------------/


/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
	*behavior: url(../scripts/boxsizing.htc);
	}
	
html, body{
	height: 100%;
	height: 100%;
	margin:0 auto;
	text-align:left;
	font: normal small/1.2em Verdana,sans-serif;
	line-height: 1.3em;
	letter-spacing: 0.02em;
	background-color: #5c5c5c;
	overflow: hidden;
	}

#wrap{
	width: 100%;
	height: 100%;
	background-color: #5c5c5c;
	overflow: hidden;
	}


section{
	width: 100%;
	position: absolute;
	left: 100%; right: 0; top: 0; bottom: 0;
	margin: auto;
	overflow: hidden;
	display: none;
}

#main{
	display: block;
	left: 0;
	background-image: url(../images/workshop.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

.intro{
	position: absolute;
	width: 35%;
	top: 16%;
	right: 18%;
}

.logoContainer{
	width: 100%;
	overflow: auto;
}

.logoContainer img{
	width: 100%;
}

.welcome{
	padding: 5px 15px;
}

.welcome p{
	color: #fff;
	font-size: 1.15em;
	line-height: 1.6em;
	letter-spacing: 0.02em;
	padding: 7px 0;
}

#sawingMan{
	position: absolute;
	background-image: url(../images/sawingMan.png);
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 70%;
	width: 50%;
	bottom: 22%;
}

@keyframes pendulum{
  0%   {transform: rotate(-1deg); }
  52%	{transform: rotate(1deg); }
  100%   {transform: rotate(-1deg); }
}

@-webkit-keyframes pendulum{
  0%   {-webkit-transform: rotate(-1deg); }
  52%	{-webkit-transform: rotate(1deg); }
  100%   {-webkit-transform: rotate(-1deg); }
}

#plumbob{
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform-origin: top center;
	-webkit-transform-origin: top center;
	height: 70%;
	width: 5px;
	overflow: visible;
	position: absolute;
	top: -10px;
	right: 44%;
	animation: pendulum 9s infinite;
	animation-timing-function: ease;
	-webkit-animation: pendulum 9s infinite;
	-webkit-animation-timing-function: ease;
}

#plumbob img{
	height: 100%;
}

footer{
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	height: 30%;
	background-color: #5c5c5c;
	border-top: 1px solid #000;
}


.ribbon{
	overflow: auto;
	width: 60%;
	max-width: 1300px;
	background-image: url(../images/ribbon.svg);
	background-size: 100% 100%;
	margin: 20px auto;
	padding: 3% 7% 1.5%;
	position: relative;
	overflow: visible;
}

.ribbon2{
	overflow: auto;
	width: 60%;
	max-width: 1300px;
	background-image: url(../images/ribbon2.svg);
	background-size: 100% 100%;
	margin: 20px auto;
	padding: 3% 12% 1.5%;
	position: relative;
	overflow: visible;
}


.ribbon p, .ribbon2 p{
	color: #aeaeae;
	font-size: 16px;
	line-height: 1.4em;
	text-align: center;
	font-family: 'baskervilleregular';
}

.ribbon span, .ribbon a, .ribbon2 span, .ribbon2 a{
	color: #aeaeae;
	font-size: 10px;
	line-height: 1.4em;
	text-align: center;
	font-family: 'baskervilleitalic';
	/* padding: 2%; */
}

.factoid{
	margin: 65px auto;
	overflow: auto;
}

.screen1{width: 1081px;}
.screen2{width: 881px;}

.percentCircle{
	border: 1px solid #fff;
	padding: 12px;
	margin: 0 10px 0 0;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: #d45a2a;
	float: left;
}

.percentCircle p{
	font-family: 'baskervillebold';
	color: #fff;
	font-size: 3em;
	display: block;
	text-align: center;
	padding-top: 30px;
}

.fact{
	float: left;
	margin-top: 28px;	
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	padding: 20px 0;
}

.fact p{
	font-family: 'baskervillebold';
	color: #fff;
	font-size: 1.8em;
}

#planetLogo{
	display: block;
	position: fixed;
	left: 0; right: 0; bottom: 30px;
	margin: auto;
	width: 40%;
}

#planetLogo img{
	display: block;
	margin: auto;
	width: 150px;
}

#planetLogo p{
	font-size: 0.8em;
	color: #ccc;
	text-align: center;
	padding-top: 2px;
}

@-webkit-keyframes pointing{
  0%   {-webkit-transform: rotate(0deg); }
  76%   {-webkit-transform: rotate(0deg); }
  77%	{-webkit-transform: rotate(6deg); }
  78%   {-webkit-transform: rotate(0deg); }
  79%	{-webkit-transform: rotate(6deg); }
  80%   {-webkit-transform: rotate(0deg); }
  95%	{-webkit-transform: rotate(0deg); }
  96%   {-webkit-transform: rotate(6deg); }
  97%	{-webkit-transform: rotate(0deg); }
  98%   {-webkit-transform: rotate(6deg); }
  100%   {-webkit-transform: rotate(0deg); }
}


.nextArrow{
	position: absolute;
	bottom: 32%;
	right: 5%;
	width: 120px;
	cursor: pointer;
}

.handContainer{
	width: 100%;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	animation: pointing 10s infinite;
	animation-timing-function: ease;
	-webkit-animation: pointing 10s infinite;
	-webkit-animation-timing-function: ease;
}

.handContainer img{
	width: 100%;
}

.nextArrow h5{
	color: #fff;
	text-align: center;
}

#heatmaxQuiz{
	background-image: url(../images/huntingBack.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}

#hunter{
	position: absolute;
	background-image: url(../images/hunter.png);
	background-size: contain;
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 70%;
	width: 45%;
	bottom: 22%;
	right: -100%;
}

.quizcontainer{
	position: absolute;
	width: 50%;
	top: -100%;
	left: 5%;
	background: rgba(20,20,20,0.3);
	padding: 150px 40px;
	height: 80%;
}

.questionbox{
	width: 170px;
}

.questionbox h3{
	font-family: 'baskervillebold';
	color: #fff;
	font-size: 2em;
	letter-spacing: 0.02em;
}

.quizcontainer h4{
	font-family: Tahoma, sans-serif;
	font-size: 1.9em;
	padding: 20px 15px 5px;
	color: #fff;
	line-height: 1.3em;
	letter-spacing: 0.02em;
}

.question{
	width: 100%;
	height: 200px;
	background-image: url(../images/question.svg);
	background-repeat: no-repeat;
}

.answer{
	background-color: #c5511e;
	padding: 15px;
	border: 1px solid #fff;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	padding: 3% 0;
	cursor: pointer;
}

.answer.one{top: -100px; left: 50px;}
.answer.two{top: -100px; left: 150px;}
.answer.three{top: -100px; left: 250px;}
.answer.four{top: -100px; left: 350px;}

.quizcontainer p{
	font-family: Tahoma, sans-serif;
	font-weight: normal;
	font-size: 28px;
	color: #fff;
	line-height: 1.9em;
	letter-spacing: 0.02em;
	text-align: center;
}

.answer:hover{
	background-color:#de8004;
}

.quizcontainer p span{
	font-family: 'baskervillebold', 'Times', serif;
	color: #fff;
	font-size: 1em;
	background-color: #5c5c5c;
	padding: 8px;
	margin: 5px 10px 0 20px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	display: inline-block;
}

#heatmax{
	background-image: url(../images/hothandsBack.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}

.rightwrong{
	width: 100%;
	padding: 10px 60px;
	background: rgba(20,20,20,0.5);
}

.rightwrong h4{
	font-family: Tahoma, sans-serif;
	font-size: 1.7em;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	line-height: 1.3em;
	letter-spacing: 0.02em;
}

.heatmaxlogo{
	position: absolute;
	bottom: -30%;
	right: 27%;
	width: 15%;
	max-width: 397px;
	height: 108px;
}

.hotprod{
	position: absolute;
	top: -100%;
	right: 10%;
	margin: auto;
	width: 50%;
	max-width: 750px;
}

.heatmaxlogo img, .hotprod img{
	width: 100%;
}

.correct{
	font-family: Tahoma, sans-serif;
	font-size: 22px;
	color: orange;
	text-align: left;
	line-height: 1.3em;
	letter-spacing: 0.02em;
	display: block;
}

.blurb{
	font-family: Tahoma, sans-serif;
	color: #fff;
	font-weight: 100;
	text-align: left;
	font-size: 18px;
	line-height: 1.3em;
	letter-spacing: 0.02em;
	display: block;
}


.answerbox p, .answerbox a{font-size: 8px; color: #fff;line-height: 10px;}

.answerbox{
	position: absolute;
	padding: 100px 5% 10px;
	left: 5%;
	height: 90%;
	width: 30%;
	top: -100%;
	background-color: rgba(20,20,18, 0.4);
}

#arrowTwo{
	display: none;
}

.fullscreenmodal{
	width: 100%;
	height: 100%;
	background: rgba(20,20,20,0.85);
	position: absolute;
	top: 0; bottom: 0; left:0; right:0;
	margin: auto;
	display: none;
}

.golfer{
	height: 300%;
	width: 30%;
	position: absolute;
	top: -50px;
	left: -10%;
}

.golfer img{
	width: 100%;
}


.dialogbox{
	position: absolute;
	top: 0; bottom: 0; left:0; right:0;
	margin: auto;
	width: 50%;
	height: 30%;
	padding: 50px;
	background: rgba(250,250,250, 0.9);
}

.pointingMan{
	position: absolute;
	top: -10px; left: 50px;
	width: 450px;
}

.pointingMan img{
	width: 100%;
}

.trivia p{
	font-family: Tahoma, sans-serif;
	font-size: 1.8em;
	color: #fff;
	text-align: center;
	line-height: 2em;
	letter-spacing: 0.02em;
	display: block;
	position: absolute;
	left: 0; right: 0; bottom: 40%;
	margin: auto;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	width: 700px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////                                                    ///////////////////////////////////////*/
/*///////////////////////////////////     LANDSCAPE MEDIA QUERIES          //////////////////////////////////////*/
/*//////////////////////////////////                                                      ////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (max-width: 980px){
	.ribbon p{font-size: 14px;}
	.ribbon{padding: 3% 15% 1.5%;}
	.ribbon span, .ribbon a{font-size: 8px;}
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////                                    //////////////////////////////////////////////*/
/*///////////////////////////////////////////      PORTRAIT CSS         ///////////////////////////////////////////////*/
/*//////////////////////////////////////////                                   ///////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


@media all and (orientation:portrait) {
	
	.intro{ width: 50%; top: 6%; right: 43%;}
	.nextArrow{ bottom: 45%; right: 60%;}
	#sawingMan{ height: 90%; width: 60%; bottom: 23%; right: -2%;}
	#plumbob{ right: 88%;}
	
	@media all and (max-width: 700px){
		.welcome p{ line-height: 1.4em;}
		.nextArrow{bottom: 37%;}
	}
	
	
}















